<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444524590318-tsb3occkvccjl45arlnfrlpjvdgtnmgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444524590318-tsb3occkvccjl45arlnfrlpjvdgtnmgc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>444524590318-fqa7s0ocb8emlnurjlcuuiin8laauk0e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcfrhjQLcHfVK7R9I4f7ChtYGHUtFkK6c</string>
	<key>GCM_SENDER_ID</key>
	<string>444524590318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anon.deliveree</string>
	<key>PROJECT_ID</key>
	<string>deliveree-d38bb</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveree-d38bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444524590318:ios:d012b6d0fd0643cb2a6fff</string>
</dict>
</plist>